@charset "utf-8";

@media screen and (max-width:1648px) {

    .container {
        max-width: 100%;
    }


    .main_all header {
        width: 30%;
    }

    .main_all header .h_all h1 {
        width: 90%;
    }

    .main_all header h1 img {
        /* width: 500px; */
        /* test로 해봄 */
        /* height: 80px; */
        /* background: #ccc; */
    }

    .main_all .main_visual {
        width: 70%;
    }

    .rest {
        padding: 0 auto;
        height: auto;
        padding: 200px 0 154px;


    }

    .rest .container {
        /* background: #ccc; */
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


    }

    .rest .img_box {
        margin-top: 2rem;

    }

    .rest .txt {
        align-self: flex-end;
        order: -1;
        /* background: palegoldenrod; */
        padding-left: 2rem;

    }

    .rest .txt h2 {
        font-size: 3.125rem;
    }

    .rest h2 b {
        font-size: 5rem;
    }

    .rest p {
        font-size: 1.5625rem;
    }

    .rest .tape {
        margin: -30px 0 0 300px;
    }

    .rest .tape img {
        width: 200px;
    }

    .yoga .con_bottom .con_right a {
        width: 200px;
        height: 60px;
    }

    .yoga .con_bottom .con_right a p {
        font-size: 1.125rem;
    }


}




@media screen and (max-width:1582px) {

    .main_all header .h_all h1 {
        width: 100%;
    }

    .rest .txt {
        width: 80%;
        /* ackground: rgba(255, 255, 255, 0.5); */
    }

    .rest .txt h2 {
        color: #fff;
    }
}


@media screen and (max-width:1450px) {

    .main_all header {
        width: 30%;
    }

    .main_all header h1 img {}

    .main_all .main_visual .slide li.slide1 {
        width: 746px;
        height: 100%;
    }

    .main_all .main_visual .slide li.slide2 {
        width: 746px;
        height: 100%;
    }

    .main_all .main_visual .slide li.slide3 {
        width: 746px;
        height: 100%;
    }

    .main_all .main_visual {
        width: 70%;
    }

    .tea .container {
        width: 90%;
    }

    .walk .container {
        width: 95%;
    }

    .left_section {
        width: 40%;
    }

    .right_section {
        width: 60%;
    }

}


@media screen and (max-width:1378px) {

    .main_all header .h_all h1 {
        width: 100%;
    }

    .container {
        width: 90%;
    }


    .medi .container {
        width: 90%;
        /* background: #ccc; */
    }

    .medi article {
        width: 100%;


    }

    .medi article.incense,
    .medi article.meditation {
        background-size: 68%;
    }


    .medi article .incen_img,
    .medi_img {
        width: 70%;
    }

    .medi article img {
        width: 100%;
    }

    .medi article .txt {
        width: 70%;
        /*     background: #ccc; */
        font-size: 1.25rem;
    }


    a.bt {
        width: 170px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    a.bt p {
        font-size: 1rem;
    }

    .tea .container {
        width: 90%;
        /*    background: yellow; */
    }


    .tea .banner .txt {
        font-weight: 500;
    }

    .yoga .container {
        width: 90%;
    }

    .yoga .con_top {
        width: 100%;
    }

    .yoga .con_bottom .con_left {
        display: flex;
        align-items: center;
    }

    .yoga .con_top .con_right {
        display: flex;
        /*         background: #ccc; */
    }

    .yoga .con_top .con_right img {
        /*    align-self: flex-end; */
        width: 100%;
        height: 80%;
    }
}

@media screen and (max-width:1300px) {
    .walk .container {
        width: 95%;
        height: auto;
    }



    .walk .item {
        width: 100%;
        height: 50%;
    }


    .walk .item .left_section {
        width: 50%;
        height: 70%;
        padding-left: 20px;
    }

    .walk .item .right_section {
        width: 50%;
        height: 70%;

    }

    .walk .item .left_section .txt {
        width: 100%;
        height: 80%;
        padding-left: 20px;
        margin-top: 50px;
    }

    .walk .item .left_section .txt h2 {
        font-size: 1rem;
    }

    .walk .item .left_section .txt h1 {
        font-size: 1.75rem;
    }

    .walk .item .left_section .txt p {
        font-size: 1.25rem;
        line-height: normal;
        font-weight: 500;
    }


    .walk .item .left_section .txt a {
        font-size: 1rem;
    }

    .walk .item .left_section .txt a span {
        padding: 2px 0 0 10px;
    }


    .walk .item .right_section .card_all {
        width: 70%;
    }

    .walk .item .right_section .img_card {

        object-fit: cover;
    }


    .walk .item .right_section .img_card .overlay {
        width: 100%;
        height: 100%;
    }
}

.walk .item .right_section .img_card .overlay .txt {
    width: 80%;
    height: 60%
}

.walk .item .right_section .img_card .overlay .txt h2 {
    font-size: 1.5625rem;
}

.walk .item .right_section .img_card .overlay .txt p {
    font-size: 1.25rem;
    font-weight: 500;
}

.walk .item .right_section .img_card .overlay .txt a span {
    margin-top: 5px;
}




@media screen and (max-width:1270px) {
    .main_all header {
        width: 30%;
    }

    .main_all .main_visual {
        width: 70%;
    }

    .main_all .main_visual .slide li.slide1 {
        width: 50%;
        height: 100%;
        /*      background: #ccc; */
    }

    .main_all .main_visual .slide li.slide2 {
        width: 50%;
        height: 100%;
    }

    .main_all .main_visual .slide li.slide3 {
        width: 50%;
        height: 100%;
    }

    .medi article .txt {
        font-size: 1.1875rem;
        font-weight: 500;
    }

    /*     a.bt {
        width: 170px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }

    a.bt p {
        font-size: 16px;
    } */

}

@media screen and (max-width:1260px) {


   
    .tea .banner {
        width: 100%;
        height: 500px;
    }

    .tea .banner .txt {}

    .tea .banner .txt h2 {
        margin-left: -50px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
        display: flex;
        flex-direction: column;
        /*    background: #ccc; */
    }

    .tea .banner .txt p {
        width: 100%;
        font-size: 1.125rem;
        font-weight: 500;
        /*   padding-left: 10px; */
    }

    .tea .banner .bt {
        padding-top: 30px;
        font-size: 1.25rem;
    }

    .tea .banner .bt::before {
        width: 60px;
        height: 52px;
        position: absolute;
        left: 50%;
        top: 35%;


    }

}

@media screen and (max-width:1232px) {

    .medi article .txt {
        /*    background: #ccc; */
        font-size: 18px;
        font-weight: 400;
    }

    .yoga .container {
        width: 95%;
    }

    .yoga .con_bottom .con_right a {
        width: 180px;
        height: 50px;

    }

    .yoga .con_bottom .con_right a p {
        font-size: 1rem;
    }
}

@media screen and (max-width:1218px) {

    .medi {
        height: auto;
    }

    .medi article .txt {
        width: 90%;
        height: 50%;
        /*     margin-top: -3px; */
        /*   background: #ccc; */
    }

    .medi article.meditation .txt {
        margin: -50px 10px 0 0;
    }


    .tea {
        height: auto;
        background: none;
    }
}

@media screen and (max-width:1218px) {
    .meditation {
        display: flex;
        justify-content: center;
        align-items: center;
    }

 /*    .meditation .txt {
        width: 100%;
        height: 50%;
        background: #ccc;
        
    } */
    

}




@media screen and (max-width:1131px) {

    .main_all header nav ul.gnb li a {
        font-size: 1.5625rem;
        font-weight: 500;
    }


    .medi .container {
        width: 90%;
    }

    .medi article .txt {
        width: 100%;
        /*     background: #ccc; */
        font-size: 1.0625rem;
        font-weight: 500;
    }


    .tea .container {
        width: 90%;
    }

    .tea .banner .txt h2 {
        margin-left: -10px;
        font-size: 1.75rem;
        font-weight: 550;
        line-height: 2.1;
        display: flex;
        flex-direction: column;
        /*    background: #ccc; */
    }

    .tea .banner .txt p {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        /*   padding-left: 10px; */
    }

    .tea .banner .bt {
        padding-top: 30px;
        font-size: 1.125rem;
    }

    .tea .banner .bt::before {
        width: 50px;
        height: 42px;
        position: absolute;
        left: 50%;
        top: 35%;


    }

    .yoga .container {
        width: 90%;
    }

    .yoga .con_top {
        width: 100%;
    }

    .yoga .con_top .con_left img {
        height: 60%;
    }

    .yoga .con_top .con_right img {
        width: 100%;
    }

    .yoga .con_bottom {
        width: 100%;
    }

    .yoga .con_bottom .con_right h2 {
        font-size: 2.375rem;
    }

    /* walk */

    /* 
    .walk .item {
        width: 100%;
        height: 50%;
    }
 */

    .walk .item .left_section {
        width: 45%;
        height: 70%;
        padding-left: 20px;
    }

    .walk .item .right_section {
        width: 55%;
        height: 70%;

    }

    .walk .item .left_section .txt {
        width: 100%;
        height: 80%;
        padding-left: 20px;
        margin-top: 50px;
    }

    .walk .item .left_section .txt h2 {
        font-size: 1rem;
    }

    .walk .item .left_section .txt h1 {
        font-size: 1.5rem;
    }

    .walk .item .left_section .txt p {
        font-size: 1.125rem;
        line-height: normal;
        font-weight: 500;
    }


    .walk .item .left_section .txt a {
        width: 100%;
        margin-right: 10px;
        font-size: 0.875rem;
    }

    .walk .item .left_section .txt a span {
        padding: 3px 0 0 10px;
    }


    .walk .item .right_section .card_all {
        width: 70%;
    }

    .walk .item .right_section .img_card {

        object-fit: cover;
    }


    .walk .item .right_section .img_card .overlay {
        width: 100%;
        height: 100%;
    }


    .walk .item .right_section .img_card .overlay .txt {
        width: 80%;
        height: 60%
    }

    .walk .item .right_section .img_card .overlay .txt h2 {
        font-size: 1.5625rem;
    }

    .walk .item .right_section .img_card .overlay .txt p {
        font-size: 1.125rem;
        font-weight: 500;
    }

    .walk .item .right_section .img_card .overlay .txt a span {
        margin-top: 5px;
    }



}


@media screen and (max-width:1000px) {


    .medi article.meditation a.bt {
        margin: 0 0 30px 0;
    }

    .main_all {}

    .main_all header {
        display: none;
    }

    .main_all .main_visual {
        width: 100%;
        position: relative;
    }



    .main_all .main_visual .menu {
        position: absolute;
        top: 230px;
        right: 36px;
        font-size: 30px;
        z-index: 10;
        display: block;
        margin-left: auto;
        color: #ccc;

    }

    .medi article {
        width: 100%;
        height: 1000px;
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .medi article.incense {
        padding-bottom: 200px;
    }

    .medi article.incense .incen_img {
        width: 50%;
        margin-right: auto;
    }

    .medi article .incen_img,
    .medi_img {

        /* background: #ccc; */
    }

    .medi article .txt {
        align-items: center;
        display: flex;
        padding-right: 100px;
    }

    .medi article .txt a.bt {
        margin-left: auto;
        justify-content: center;
        margin-top: 0;

    }

    .medi article.meditation {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 300px;
        padding: 0;

        /* background: #ccc; */
    }

    .medi article.meditation .txt {
        margin-top: auto;
        margin-left: 50px;
    }
    .medi article.meditation .medi_img {
        width: 100%;
        margin-bottom: auto;
    }


    .tea {
        width: 100%;
        height: auto;
        background: #6C6860;
    }

    .tea .banner {
        margin: 0 auto;
        width: 80%;
        height: 900px;
        background: rgba(238, 237, 237, 0.5);
        display: flex;
        flex-direction: column;
    }
    .tea .banner .teaimg {
        width: 80%;
        height: 50%;
        padding-top: 50px;
    }

    .tea .banner .txt {
        width: 80%;
     /*    background: yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .tea .banner .txt h2 {
        align-items: flex-end;
    }

    .tea .banner .txt p {
        justify-content: center;
        align-items: center;
        font-size: 18px;
        
    }

    .tea .banner .bt {
        font-size: 25px;
    }
}



@media screen and (max-width:1090px) {}


@media screen and (max-width:1024px) {
    
}


@media screen and (max-width:1450px) {}

@media screen and (max-width:1300px) {}